.type {
    overflow: hidden;
    border-right: .15em solid rgb(252, 251, 249);
    white-space: nowrap;
    margin-right:auto;
    letter-spacing: .15em;
    animation: 
    typing 1.5s steps(15),
    blink-caret 2s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFFFFF; }
  }

  #container {
    margin-top: 30px;
    position:relative;
    display:block;
  }
  
  #flip {
    height:80px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#FDB750;
    height:45px;
    margin-bottom:25px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }

.btn {
  transition: box-shadow .2s ease-in-out;
}
.btn:hover{
    box-shadow: inset 0 -50px 0 0px #FDB750;
    color:black;
}